#track-wrapper {
    height: 25%;
    width: 33%;

    float: left;
}

#track-wrapper-mobile {
    height: 25%;
    width: 100%;
}

#energy-current-wrapper {
    height: 25%;
    width: 33%;

    float: left;
}

#energy-wrapper {
    height: 25%;
    width: 33%;

    float: left;
}

#fahrrad-information-wrapper{
    height: 25%;
}

#fahrrad-information-wrapper-mobile{
    height: 25%;
}

.fahrrad-wrapper{
    height: 25%;
    width: 30%;

    border: 5px solid lightgreen;
    border-radius: 5px;
    background-color: ghostwhite;
    color: #000;
    text-align: center;
    padding: 10px;

    margin-top: 50px;
    margin-left: 2%;

    float:left;
}

.fahrrad-wrapper-mobile{
    height: 25%;
    width: 100%;

    background-color: ghostwhite;
    color: #000;
    text-align: center;
    padding: 10px;

    margin-top: 50px;
    margin-left: 2%;
}

#logout-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#btnLogout{
    margin-top: 25px;
    width: 100%;
    height: 50px;
}

.clear {
    clear: both;
}